@import 'src/color';

.auth-wrapper {
  min-height: 100vh;
  align-items: center;
  background: $color-black-primary;
  .auth-container {
    margin: 3rem 0;
  }
  .form-wrapper{
    margin-top: 2rem;
    text-align: center;
  }
  .form {
    margin-top:1rem;
  }
  
}
