@import 'src/color';

.auth-wrapper {
  min-height: 100vh;
  align-items: center;
  background: $color-black-primary;
  .auth-container {
    margin: 3rem 0;
  }
  .form-wrapper{
    margin-top: 2rem;
    text-align: center;
  }
  .form {
    margin-top:1rem;
  }
  button {
    color: white;
  }
  .btn-auth {
    background: #00e676;
    margin-bottom: 1rem;
  }
  .btn-google {
    background: $color-secondary-blue;
  }
}

input {
  &:active,&:focus{
    background: transparent !important;
  }
  &::placeholder{
    color: inherit;
  }
}

