<header>
  <div class="brand-name flex-row flex-center">
    <mat-icon (click)="toggleSidebar()" class="icon">menu</mat-icon>
    <div class="heading">
      <h1 mat-body1 class="custom-font">Devtweet</h1>
    </div>
  </div>
  <nav>
    <ul class="flex-row">
      <li>
        <a routerLink="/add-tweet"
          ><mat-icon class="icon mr">add_circle</mat-icon></a
        >
      </li>
      <li>
        <a>
          <mat-icon class="icon mr">notifications</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <mat-icon class="icon mr">account_circle</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>
