<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    class="nav-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="100"
      [opened]="active !== '/auth'"
      class="nav flex-column nav-wrap"
    >
      <div class="logo">
        <img src="/assets/img.png" width="50" alt="logo" />
      </div>
      <div class="menu-bar">
        <mat-icon class="icon" (click)="close()">close</mat-icon>
      </div>
      <div class="nav-items">
        <div class="menu">
          <h1>MENU</h1>
        </div>
        <app-nav-items
          (actionEmitter)="onNavClick($event)"
          [iconName]="'home'"
          [routeName]="'Home'"
          [navigateTo]="'/'"
          [active]="active"
        ></app-nav-items>
        <app-nav-items
          (actionEmitter)="onNavClick($event)"
          [iconName]="'account_circle'"
          [routeName]="'Profile'"
          [navigateTo]="'/profile'"
          [active]="active"
        ></app-nav-items>
        <app-nav-items
          (actionEmitter)="onNavClick($event)"
          [iconName]="'search'"
          [routeName]="'Search'"
          [navigateTo]="'/search'"
          [active]="active"
        ></app-nav-items>
        <app-nav-items
          (actionEmitter)="onNavClick($event)"
          [iconName]="'send'"
          [routeName]="'Tweets'"
          [navigateTo]="'/user-tweets'"
          [active]="active"
        ></app-nav-items>
      </div>
      <div class="logout-container">
        <app-nav-items
          (actionEmitter)="onNavClick($event)"
          [iconName]="'logout'"
          [routeName]="'Logout'"
        ></app-nav-items>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header *ngIf="active !== '/auth'"></app-header>

      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
