section{
  figure{
    figcaption{
      margin-top: 1rem;
      font-size:18px;
      font-weight: 300;
      text-decoration: underline;
    }
  }
  button {
    background: #00e676;
    margin-bottom: 1rem;
  }
}