label {
   font-size:18px;
   font-weight: 300;
}

.close {
  margin-left: 10px;

  .close-btn {
    color: red;
  }
}

.underline {
  text-decoration: underline;
}

.attach {
  margin-bottom: 1rem;
}
.mr {
  margin-right: 1rem;
}