$color-black-primary:#18181D;
$color-black-primary-main: #22252C;
$color-black-secondary-main: #384046;
$color-black-secondary: #202026;
$color-primary-blue: #5773ff;
$color-secondary-blue: #196fe3;
$color-blue-tertiary: #0094ff;

$color-primary-grey:#b2b6b9;
$color-secondary-grey: #9A9AA6;

$color-green: #00e676;