// dark-theme

@import '~@angular/material/_theming.scss';
@include mat-core();

$default-theme: mat-dark-theme(mat-palette($mat-green, A400), mat-palette($mat-light-blue, A400));
@include angular-material-theme($default-theme);

html, body { height: 100%; }
body { margin: 0;padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:white;}

h1,
h2,
h3,
h4,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  width: 228px;
  padding: 8px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.error-msg {
  background: red;
  color: white;
}
.success-msg {
  background: #00e676;
  color: white;
}
ul,li{
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
  position: relative;
  margin-bottom: 0;
}
.icon {
  cursor: pointer;
}

.app-content {
  background: #0f0f0f;
  min-height: 100vh;
}

.background {
  background: #0f0f0f;

}

.green {
  color:#00e676;
}

#file,#tweet_file {
  display: none;
}

.custom-font{
  font-family: 'Roboto Slab',sans-serif!important;
}